@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
 
}
body{
    
    margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 150px; /* Relleno superior igual a la altura de la cabecera*/
}

@media screen{
    table{
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px; 
    text-align: left; 
     border-collapse: collapse;
     overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
}
td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
     width: 650px; 
    }

    tr:hover td { 
    background: #d0dafd; 
    color: #339; 
    }
    
}


h2{
    text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 30px; 
color: #2B2D99; 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}